html {
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-family: 'Lily Script One', cursive;
}


/* header style */

.header {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    color: black;
    overflow: hidden;
    width: 100vw;
    position: fixed;
    background-color: white;
}

.header .logo {
    color: #A1168A;
}

.header [alt="user-icon"] {
    width: 30px !important;
    height: 30px !important;
    border-radius: 45px;
}

.header .user-info {
    margin-right: 40px;
}

.header div:nth-child(2) {
    padding-left: 10px;
    position: relative;
    top: 6px;
    right: 10px;
}

.header #user-name {
    padding-left: 10px;
    margin-left: 4px;
    color: black;
}


/* sidebar Styles */

.sidebar {
    position: fixed;
    top: 90px;
    background-color: white;
    height: 100vh;
}

.sidebar li {
    position: relative;
    list-style-type: none;
    right: 41px;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    width: 128%;
    color: #A1168A;
}

.sidebar .fas {
    position: relative;
    right: 20px;
    color: black;
}

.sidebar li:hover {
    background-color: #A1168A;
    color: white;
    cursor: pointer;
}

.sidebar li:hover .fas {
    color: white;
}


/* dahboard styles */

.dashboard {
    background-color: #f4f7fa;
}

.body {
    padding-top: 97px;
    padding-left: 220px;
}

#overview {
    text-align: center;
    opacity: 0.4;
}

#current-balance {
    color: #A1168A;
    font-weight: bold;
}

#fund-div {
    padding: 10px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

#fund-wallet {
    background-color: #A1168A !important;
    color: white;
    border-radius: 40px;
    text-align: center;
    margin-right: 100px;
}

#fund-wallet:hover {
    background-color: white !important;
    color: #A1168A;
    cursor: pointer;
    border: 1px solid #A1168A;
    transition: .4s all;
}

.account-summary {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.summary {
    padding: 20px;
    /* border-radius: 10px; */
    width: 267px;
    height: 133px;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
    /* margin: 30px; */
    text-align: center;
}


/* transaction styles */

.transactions {
    background-color: #f4f7fa;
}

.transactions h4 {
    text-align: center;
    margin-right: 100px;
    color: #A1168A;
    font-weight: bold;
    margin-top: 6px;
}

.transaction-list {
    display: flex;
    flex-wrap: wrap;
}

.transaction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: white;
    background: linear-gradient( #EEAADD, #A1168A);
    width: 300px;
    margin: 40px;
    border-radius: 10px;
    padding: 40px;
}


/* funds Styles */

.funds {
    background-color: #f4f7fa;
    height: 1000px;
}

.funds h4 {
    color: #A1168A;
    text-align: center;
    font-weight: bold;
    margin-right: 100px;
}