html {
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-family: 'Lily Script One', cursive;
}


/* header style */

.header {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    color: black;
    overflow: hidden;
    width: 100vw;
    position: fixed;
    background-color: #E5C1CD;
}

.header .logo {
    color: #A1168A;
}

.header [alt="user-icon"] {
    width: 30px !important;
    height: 30px !important;
    border-radius: 45px;
}

.header .user-info {
    margin-right: 40px;
}

.header div:nth-child(2) {
    padding-left: 10px;
    position: relative;
    top: 6px;
    right: 10px;
}

.header #user-name {
    padding-left: 10px;
    margin-left: 4px;
    color: black;
}


/* sidebar Styles */

.sidebar {
    position: fixed;
    top: 70px;
    background-color: #E5C1CD;
    height: 100vh;
}

.sidebar a {
    position: relative;
    font-size: 18px;
    color: #A1168A;
    display: block;
    padding: 30px 30px;
    transition: .5s all ease;
    top: 20px
}

.sidebar .fas {
    position: relative;
    right: 10px;
}

.sidebar a:hover {
    cursor: pointer;
    color: white;
    background-color: #A1168A;
}

.sidebar li:hover .fas {
    color: white;
}


/* dahboard styles */

.dashboard {
    background-color: #f4f7fa;
    height: 1000px;
}

.body {
    padding-top: 97px;
    padding-left: 220px;
}

#overview {
    text-align: center;
    opacity: 0.4;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: +1;
    display: none;
}

.fundwallet-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    height: 100%;
}

.fundwallet-form .form {
    position: relative;
    background-color: white;
    bottom: 180px;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    padding: 40px;
}

.fundwallet-form .fas {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    padding: 4px;
    color: red;
}

.fundwallet-form input {
    border-bottom: 1px solid #A1168A !important;
}

.paystack-button {
    background-color: white;
    width: 100px;
    padding: 3px;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 20px;
    color: #A1168A;
    border: 2px solid #A1168A;
}

.paystack-button:hover {
    color: white;
    background-color: #A1168A;
    transition: 0.4s all;
}

#current-balance {
    color: #A1168A;
    font-weight: bold;
    margin-left: 40px;
}

#current-balance div {
    color: black;
    opacity: .5;
}

#current-balance span {
    font-size: 23px;
    color: green;
    opacity: .7;
}

#fund-div {
    padding: 10px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

#fund-wallet {
    background-color: #A1168A !important;
    color: white;
    border-radius: 40px;
    text-align: center;
    margin-right: 100px;
}

#fund-wallet:hover {
    background-color: white !important;
    color: #A1168A;
    cursor: pointer;
    border: 1px solid #A1168A;
    transition: .4s all;
}

.account-summary {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.summary {
    padding: 20px;
    /* border-radius: 10px; */
    width: 250px;
    height: 150px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    margin: 20px;
    font-weight: 400;
    border-radius: 10px;
    transition: .7s all ease;
}

.summary:hover {
    background-color: #A1168A;
    margin-top: 40px;
    color: white !important
}

.summary p {
    font-size: 13px;
}

.summary span {
    color: green;
    font-size: 20px;
}


/* transaction styles */

.transactions {
    background-color: white;
}

.transactions h4 {
    text-align: center;
    margin-right: 100px;
    color: #A1168A;
    font-weight: bold;
    margin-top: 6px;
}

.transaction-list {
    display: flex;
    flex-wrap: wrap;
}

.transaction {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    justify-content: space-between;
    height: 200px;
    color: white;
    background: linear-gradient(to bottom right, #A1168A, #453495, #E5C1CD);
    width: 350px;
    margin: 30px;
    border-radius: 10px;
    padding: 20px;
}

.transaction .left>span:first-child,
.right>span:first-child {
    font-size: 20px;
}


/* funds Styles */

.funds {
    background-color: #f4f7fa;
    height: 1000px;
}

.funds h4 {
    color: #A1168A;
    text-align: center;
    font-weight: bold;
    margin-right: 100px;
}

@media (max-width:950px) {
    .sidebar {
        display: none;
    }
    .body {
        padding-left: 30px;
    }
    .account-summary {
        justify-content: center;
    }
}