html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.logo {
    font-family: 'Lily Script One', cursive;
}


/* header style */

#user-icon {
    background-color: #884d7e;
    color: white;
    padding: 10px 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-transform: uppercase;
    font-weight: 600;
}

.header div:nth-child(1) {
    display: flex;
}

.show {
    margin-left: 0 !important;
}

.invisible {
    visibility: hidden;
}

.open {
    display: block !important;
}

.close {
    display: none !important;
}

.switch {
    background-color: #884d7e;
    padding: 30px 30px 20px 30px !important;
}

.header div:nth-child(2) {
    padding: 10px 10px;
    /* margin-right: 30px; */
}


/* dahboard styles */

#overview {
    text-align: center;
    opacity: 0.4;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: +4;
    /* display: none; */
    padding-left: 0px !important;
}

.fundwallet-form {
    display: flex;
    justify-content: center;
}

.fundwallet-form .form {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    padding: 40px;
    margin-top: 130px;
}

.fundwallet-form .fas {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    padding: 4px;
    color: red;
}

.fundwallet-form input {
    border-bottom: 1px solid #884d7e !important;
}

.paystack-button {
    background-color: white;
    width: 100px;
    padding: 3px;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 20px;
    color: #884d7e;
    border: 2px solid #884d7e;
    text-align: center;
    cursor: pointer;
}

.paystack-button:hover {
    color: white;
    background-color: #884d7e;
    transition: 0.4s all;
}

.funds-displayed {
    word-break: break-all;
    padding-right: 40px;
}

#current-balance {
    color: #884d7e;
    font-weight: bold;
    margin-left: 40px;
}

#current-balance div {
    color: black;
    opacity: .5;
}

#current-balance span {
    font-size: 18px;
}

#fund-div {
    padding: 40px 0px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

#fund-wallet {
    position: relative;
    right: 20px;
    background-color: #884d7e !important;
    color: white;
    padding: 10px 30px;
    border-radius: 40px;
    height: 40px;
    text-align: center;
}

@media (max-width:430px) {
    #current-balance {
        position: relative;
        margin-left: 20px;
    }
    #fund-wallet {
        right: 10px;
        top: 1px;
        font-size: 11.5px;
    }
}

#fund-wallet:hover {
    background-color: white !important;
    color: #884d7e;
    cursor: pointer;
    border: 1px solid #884d7e;
    transition: .4s all;
}


/* transaction styles */

.transactions {
    overflow: hidden;
}

.transactions h4 {
    text-align: center;
    color: #A1168A;
    font-weight: bold;
    margin-top: 6px;
    padding: 10px 0px;
}

.transaction-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-column-gap: 10px;
    justify-items: center;
}

.transaction {
    height: 200px;
    color: white;
    background: linear-gradient(to bottom right, #A1168A, #453495, #E5C1CD);
    width: 370px;
    margin: 30px;
    border-radius: 10px;
    perspective: 1000px;
    font-size: 18px;
}

.inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.6s;
    transform-style: preserve-3d;
}

.transaction:hover .inner {
    transform: rotateX(180deg);
}

.transaction:nth-child(2n):hover .inner,
.transaction:nth-child(2n) .flip-card-back {
    transform: rotateY(180deg);
}

.flip-card-front {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 20px
}

.flip-card-back {
    transform: rotateX(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #453495;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.transactions .left .moneyAdded-text {
    display: block;
}

.transactions .left .utcDay,
.localeTimeString {
    position: relative;
    top: 80px;
}

.transaction-moneyAdded {
    display: block;
}

.transactions-error {
    text-align: center;
    margin-top: 60px;
    font-weight: 400;
    font-size: 24px;
    color: red;
}

.no-transaction {
    margin-top: 60px;
    font-weight: 400;
    text-align: center;
    color: #884d7e;
    font-size: 18px;
}


/* funds Styles */


/* .funds {
    background-color: #f4f7fa;
    height: 1000px;
}

.funds h4 {
    color: #884d7e;
    text-align: center;
    font-weight: bold;
    margin-right: 100px;
} */


/* help styles */

.help .help-text {
    color: #453495;
    font-weight: 400;
    text-align: center;
    margin-right: 50px;
}

.help ul {
    margin-top: 40px;
    list-style-type: none;
    font-weight: normal;
}

.help li::before {
    content: "\2022";
    position: relative;
    right: 20px;
    color: #884d7e;
    font-weight: 900;
}

.help li {
    margin: 20px;
    font-size: 18px;
    padding: 5px 0px
}

.help .highlight-text {
    color: #884d7e;
    font-weight: bold;
}


/* Account Style */

.account .account-image {
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 180px;
    position: relative;
    left: 30%;
}

.account .account-image img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.img-overlay {
    position: absolute;
    background-color: rgba(139, 134, 134, 0.7);
    width: 100%;
    z-index: +1;
    height: 100%;
    border-radius: inherit;
    cursor: pointer;
}

.img-overlay span {
    position: inherit;
    top: 45%;
    left: 25%;
    color: #884d7e;
    font-weight: bold;
}

@media (max-width:950px) {
    .body {
        padding-left: 0px;
        margin: 0px
    }
    .account-summary {
        justify-content: center;
    }
    .header {
        padding: 10px 0px;
    }
    .logo {
        padding: 0px 10px;
    }
}

@media(max-width:500px) {
    .transaction {
        height: 180px;
        max-width: 320px;
        font-size: 16px;
    }
    .switch {
        padding: 13px !important;
    }
}

@media(max-width:360px) {
    .transaction {
        height: 180px;
        max-width: 280px;
        font-size: 15px;
    }
}