.login {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.login .logo {
    color: #A1168A;
    position: relative;
    top: 20px;
    left: 20px;
}

.login .row>div:first-child {
    height: 100vh;
    background-image: url('../images/20-banknote-on-black-leather-bag-3943732.jpg');
    background-size: cover;
    background-blend-mode: soft-light;
}

.login .row>div:last-child>.logo {
    display: none;
}

.login form {
    margin-top: 90px;
    padding: 35px 70px 30px 70px;
}

.login input {
    border-bottom: 1px solid #EEAADD !important;
}

.login-btn {
    border-radius: 30px;
    padding: 7px 40px;
    background-color: #d64fc0;
    color: white;
    border-color: transparent;
    font-family: 'Lily Script One';
    transition: .3s ease-in all;
}

.login-btn:hover {
    background-color: white;
    border: 2px solid #d64fc0;
    color: #d64fc0;
}

.login .to-signup {
    padding: 10px 70px;
}

.login form h4 {
    color: #3E2978;
    padding: 20px 0px;
}

.login form h4 span {
    font-family: 'Lily Script One';
    font-weight: 600;
    color: #A1168A;
}

.signup .logo {
    color: #A1168A;
}

.signup {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.signup form {
    padding: 20px;
    margin-top: 60px;
}

.signup form h4 {
    color: #A1168A;
}

.signup span {
    font-family: 'Lily Script One';
    color: #3E2978;
}

.signup input {
    border-bottom: 1px solid #EEAADD !important;
}

.signup button {
    border-radius: 45px;
    border-color: #A1168A !important;
    color: #A1168A !important;
}

.signup button:hover {
    color: #EEAADD !important;
    background-color: #A1168A !important;
    border-color: white !important;
}

.signup .row>div:first-child {
    padding: 45px;
}

.signup .row>div:last-child {
    height: 100vh;
    position: relative;
    background-color: #A1168A;
    background-image: url('../images/opened-laptop-on-table-1128240.jpg');
    background-size: cover;
    background-blend-mode: soft-light;
}

.welcome-text {
    position: absolute;
    top: 40%;
    left: 30%;
    color: #3E2978;
    font-weight: 400;
}

.signup .welcome-text {
    position: absolute;
    top: 40%;
    left: 30%;
    color: #fff;
    font-weight: 400;
}

.auth-error {
    color: red;
    font-style: italic;
    font-weight: bold;
    margin: 30px 0px;
}

.here {
    font-weight: 400;
    font-style: italic;
    color: #3E2978;
}

.submit-span {
    display: flex;
    justify-content: flex-end;
}

@media (max-width:767px) {
    .login .row>div:last-child>.logo {
        display: block;
        padding-top: 20px;
    }
    .signup {
        background-color: #ffffff !important;
    }
    .signup .logo {
        color: #EEAADD;
    }
    .signup form h4 {
        color: #EEAADD;
    }
    /* .signup span {
        color: white;
    }  */
    .signup {
        background-color: #A1168A;
    }
    .signup .row>div:last-child {
        display: none;
    }
    .signup button {
        background-color: #EEAADD !important;
    }
    .signup button:hover {
        color: #EEAADD !important;
        background-color: #A1168A !important;
        border-color: white !important;
    }
    .login .row>div:first-child {
        display: none;
    }
    .login form {
        margin-top: 50px;
        padding: 35px 40px 30px 40px;
    }
    .login .to-signup {
        padding: 10px 40px;
    }
}