.login {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.login .logo {
    color: #A1168A;
    position: relative;
}

.login .row>div:first-child {
    height: 100vh;
    background-image: url('../images/20-banknote-on-black-leather-bag-3943732.jpg');
    background-size: cover;
    background-blend-mode: soft-light;
}

.login form {
    padding: 50px;
}

.signup .logo {
    color: #A1168A;
}

.signup {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.signup form {
    padding: 20px;
    margin-top: 60px;
}

.signup form h4 {
    color: #A1168A;
}

.signup span {
    font-family: 'Lily Script One';
    color: #3E2978;
}

.signup input {
    border-bottom: 1px solid #EEAADD !important;
}

.signup button {
    float: right;
    border-radius: 45px;
    border-color: #A1168A !important;
    color: #A1168A !important;
}

.signup button:hover {
    color: #EEAADD !important;
    background-color: #A1168A !important;
    border-color: white !important;
}

.signup .row>div:first-child {
    padding: 45px;
}

.signup .row>div:last-child {
    height: 100vh;
    position: relative;
    background-color: #A1168A;
    background-image: url('../images/opened-laptop-on-table-1128240.jpg');
    background-size: cover;
    background-blend-mode: soft-light;
}

.welcome-text {
    position: absolute;
    top: 40%;
    left: 30%;
    color: white;
}

@media (max-width:767px) {
    .signup .logo {
        color: #EEAADD;
    }
    .signup form h4 {
        color: #EEAADD;
    }
    .signup span {
        color: white;
    }
    .signup {
        background-color: #A1168A;
    }
    .signup .row>div:last-child {
        display: none;
    }
    .signup button {
        background-color: #EEAADD !important;
    }
    .signup button:hover {
        color: #EEAADD !important;
        background-color: #A1168A !important;
        border-color: white !important;
    }
    .login .row>div:first-child {
        display: none;
    }
}